/* Popup container */
.popupButton {
    position: absolute;
    top: 10%;
    left: 50%;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup */
.popupBox {
    display: none;
    width: 500px;
    height: 500px;
    z-index: 1;
}


